body{
    background-color: #333;
    color: white;
}

.navbar{
    border-bottom: #008ed6 3px solid;
    opacity: 0.8;
    color: white;
}

#home-section{
    background-image: url(../img/home-section.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
}

#home-section .dark-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;
    background: rgba(0,0,0,0.6);
}

#home-section .home-inner{
    padding-top: 150px;
}

#home-section .card-form{
    opacity: 0.8;
}
#home-section .fa {
    padding: 5px;
    color: #008ed6;
    border-radius: 5px;
    background-color: white;
}
#explore-section .fa{
    padding: 5px;
    color: white;
    border-radius: 5px;
    background-color: gray;
}